.expenses-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .expenses-list li {
    margin-top: 1.5rem;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }